<!DOCTYPE=html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="static/foundation.css">
        <style>
            .parent {
                height: 100%;
            }
            .child1 {
                height: 300px;
                position: relative;
                top: 45%;
                transform: translateY(-50%););
            }
            .child2 {
                height: 300px;
                position: relative;
                top: 0%;
                transform: translateY(-50%););
            }
        </style>
        <title>Buying and Selling</title>
    </header>
    <body>
        <center>
            <div class="parent">
                <div class="child1">
                    <div class="row">
                        <div class="small-4 large-4">
                            hello
                        </div>
                        <div class="small-4 large-4">
                            <marquee behavior="alternate" width="350" height="150" direction="down">
                                <marquee behavior="alternate">
                                    <h1>StuyBS</h1>
                                </marquee>
                            </marquee>
                        </div>
                        <div class="small-4 large-4">
                            bye
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
            </div>
        </center>
    </body>
</html>
