<!DOCTYPE=html>
<html>
    <link rel=>
    <header>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.css">
        <style>
            #center {
                color:green;
                width: 60%;
                height: 60%;
                min-width: 200px;
                max-width: 400px;
                padding: 40px;
            }
        </style>
        <title>Buying and Selling</title>
    </header>
    <body>
        <center>
            <marquee behavior="alternate" width="1000" height="150" direction="down">
                <marquee behavior="alternate">
                    <h1>Stuy Buying and Selling</h1>
                </marquee>
            </marquee>
            <div id="center">
                <button id="login">Login</button>
                <br>
                <button id="register">Register</button>
            </div>
            <div id="footer">
        
            </div>
        </center>
    </body>
</html>
